html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}
body {
  font-family: "Poppins", sans-serif;
}

/*Sections*/
.colored-section {
  background-color: #184c84;
  color: #fff;
  text-align: left;
}

.white-section {
  background-color: #f8f4f4;
  color: #184c84;
  text-align: center;
}

/*Heading styles*/
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.big-title {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
  padding: 3%;
}

/* Image, QRcode, icon and download button */

.image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.qr-code {
  width: 40%;
  height: 40%;
}

.button-download {
  width: 40%;
  margin: 2%;
}

.material-icons {
  font-size: 3rem;
  margin: 0% 4%;
}

/*Navigation Bar*/
.navbar {
  background-color: #184c84;
  padding: 1% 9%;
  z-index: 2;
  width: 100%;
}
.nav-item {
  font-size: 1.5rem;
  padding: 0 18px;
}
#navbarTogglerDemo03 {
  width: 40%;
}
.sticky {
  position: fixed;
  top: 0;
}
.sticky + #title {
  padding-top: 6%;
}
.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

/*Title section*/
#title .container-fluid {
  padding: 1% 8% 3%;
  text-align: left;
}

.title-cta {
  padding: 8% 0%;
}

.title-defin {
  padding: 0% 3%;
}

#title .image {
  width: 80%;
  padding-top: 50px;
}

.row-item {
  margin: 0% 5% 8% 15%;
}

.big-heading {
  padding: 5% 3%;
  font-size: 2.7rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
}
/*Features section*/
#features {
  position: relative;
  padding: 0% 5%;
}

#features .col-lg-4 {
  padding: 5%;
}

.feature-title {
  font-size: 5rem;
  color: #ffac14;
}

/* Charcteristics section */
/* Solution section */

.carousel-indicators li {
  background-color: #184c84;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23184c84' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23184c84' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-item .material-icons {
  font-size: 7rem;
}
.description {
  padding: 2% 15% 5%;
}
/* Service section */
/* Call to action */
#cta .title-cta {
  text-align: left;
}

/*Footer section*/
#footer {
  padding: 2% 2% 2% 8%;
  text-align: center;
}
#footer .info {
  text-align: left;
}
#footer .d-flex {
  margin-left: 30%;
}
#footer .qr-code {
  width: 30%;
  height: 30%;
}
#footer .button-download {
  width: 30%;
  display: block;
}
.copyright {
  font-size: 0.8rem;
  padding-top: 1%;
}

@media (max-width: 1028px) {
  .sticky + #title {
    padding-top: 80px;
  }
  .title-cta {
    padding: 2% 0%;
  }
}

@media only screen and (max-width: 1045px) and (min-width: 768px)  {
  #service .image{
    width: 80%;
  }
  #cta p{
    margin-right: 1rem
  }
}

@media (max-width: 768px) {
  .row-item {
    margin: 0% 5% 3% 7%;
  }
} ;
